*{
    font: 15px Arial;
    padding:0;
    margin: 0;
}

header {
  background: #E2DED0;
    text-align: right;
    padding: 5%;
  }

header a{
        text-decoration: none;
        font-size: 10px;
        padding: 5px;
}

header img{
  width: 20px;
}


#introduction{
    background-color: #E2DED0;
}

#introduction img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
    /* border-radius: 50%; */
    padding-top: 5%;
  }

  #introduction h1{
    font-weight: bold;
    font-family: cursive;
    text-align: center;
  }
 
  #introduction p{
    padding: 4%;
    text-align: justify;
  }

  /* #skills h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem
  }
  #skills img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .skills {
    margin-bottom: 5%;
  } */

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 12rem;
    height: 12rem;
  }
  .icon-card {
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }


  #projects h2{
    padding: 5%;
    text-align: center;
    font-weight: bold;
  }
  .projects-conatiner {
    background: #E2DED0;
    padding-bottom: 4%;
}
.card{
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 75%;
  padding: 2%;
  border-radius: 10%;
}
.card img {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    padding: 1%;
    text-align: justify;
}







.container{
    padding: 40px 0;
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  
} 
.timeline{
   width: 80%;
   height: auto;
   max-width: 800px;
   margin: auto;
   position: relative;
} 
.timeline ul{
  padding: 0%;
}

.timeline ul{
   list-style: none;
} 
.timeline ul li{
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;  
}
.timeline ul li:last-child{
   margin-bottom: 0;
}

.timeline-content h1{
   font-size: 25px;
   font-weight: 500;
   line-height: 30px;
   margin-top: 10px;
}
.timeline ul li p{
   font-size: 16px;
   line-height: 30px;
   font-weight: 300;
}
.timeline-content .date{
   font-size: 18px;
   font-weight: 300;
   margin-bottom: 10px;
   letter-spacing: 2px;
}
#internships h2{
  text-align: center;
  font-weight: bold;
  padding-top: 6%;
}







footer {
  background: #E2DED0;
    text-align: center;
    padding: 5%;
  }

footer a{
        text-decoration: none;
        font-size: 10px;
        padding: 9px;
}
footer p {
    font-size: 13px;
    padding-top: 10px;
} 
footer img{
  width: 25px;
}

@media only screen and (min-width: 748px){

  /*********************HEADER *********************/
  header {
    background: #E2DED0;
      text-align: right;
      padding: 2%;
    }
  
  header a{
          text-decoration: none;
          font-size: 10px;
          padding: 13px;
  }
  
  header img{
    width: 25px;
  }
  
    /*********************INTRODUCTION *********************/
.intro-container{
    height: 35rem;
}  

#introduction{
    background-color: #E2DED0;
}

#introduction img{
    float: right;
    border-radius: 100%;
    width: 30%;
    margin: 4%;
    padding: 0%;
}

#introduction h1 {
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    padding-top: 12%;
    padding-right: 61%;
  }

  #introduction p {
    padding: 0%;
    text-align: justify;
    margin-left: 10%;
    /* margin-right: 55%; */
    font-size: large;
    width: 40%;
  }

/* #introduction img{
    position: absolute;
    top: 60px;
    left: 500px;
    border-radius: 100%;
    width: 30%;
    height: 55%;
    margin-left: 30%;
} */

/* #introduction h1{
    padding-top: 10%;
    margin-right: 36%;
    margin-bottom: -3%;
    color: rgb(66, 61, 61);
    font-size: 50px;
    font-family: cursive;
} */
/* #introduction p{
    margin-left: 15%;
    text-decoration: solid;
    width: 40%;
    font-size: large;
    text-align: justify;
} */

/*********************SKILLS *********************/
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 12rem;
    height: 12rem;
  }
  .icon-card {
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

/*********************PROJECTS *********************/

.projects-conatiner {
    background: #E2DED0;
    padding-bottom: 4%;
}

.card img {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    padding: 1%;
    text-align: justify
}
.card{
  border-right: solid;
  width: 75%;
  padding: 2%;
  border-radius:10%;
  margin-right: 0%;
  margin-left: 4%;
}
.third-card{
  margin-right: 4%;
  border-right: none;
}
#projects .project-card{
    padding-left: 30%;
    padding-right: 20%;
    margin: 3% 5% 0 0;
}

.card p{
    text-align: justify;
    font-size: medium;
    line-height: 1.5rem;
}


#projects h2{
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0%;
}



/*********************FOOTER *********************/
footer {
    text-align: center;
    margin-top: 35px;
    padding: 40px 0;
  }

footer a{
        text-decoration: none;
        font-size: 17px;
        padding: 13px;
}
footer p {
    font-size: 13px;
    padding-top: 10px;
  }

footer img{
  width: 27px;
}

/*********************INTERNSHIPS *********************/

  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    }

.timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
}

/* positiong the timline boxes alternately boxes */
.timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-15px);
    border-radius: 20px 0 20px 20px
} 

.timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(45px);
    border-radius: 0 20px 20px 20px
    
}
/* making th bullet points */
.timeline ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    top: 0;
    border-radius: 50%;
}
/* positioning the bullet points in the odd */
.timeline ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -15px;
}

/* positioning the bullet points in the even */
.timeline ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -45px;
    
}
.timeline ul li:hover::after{
    background-color: red;
}
.timeline-content .date{
    position: absolute;
    top: -30px;
    color: black;


}
#internships h2{
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}
  
}
  
/*********************INTRODUCTION *********************/
/*.intro-container{
    height: 30rem;
}  

#introduction{
    background-color: #E2DED0;
}

#introduction img{
    position: absolute;
    top: 60px;
    left: 500px;
    border-radius: 100%;
    width: 30%;
    height: 55%;
    margin-left: 30%;
}

#introduction h1{
    padding-top: 10%;
    margin-left: 15%;
    color: rgb(66, 61, 61);
    font-size: 50px;
    font-family: cursive;
}
#introduction p{
    margin-left: 15%;
    text-decoration: solid;
    width: 40%;
    font-size: large;
    text-align: justify;
}

/*********************SKILLS *********************/
/*.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 12rem;
    height: 12rem;
  }
  .icon-card {
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

/*********************PROJECTS *********************/

/*.projects-conatiner {
    background: #E2DED0;
    padding-bottom: 4%;
}

.card img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 180px;
    padding: 2%;
}

#projects .project-card{
    padding-left: 30%;
    padding-right: 20%;
    margin: 3% 5% 0 0;
}

.card p{
    text-align: justify;
    font-size: medium;
}

.card{
    margin: 1% 3% 5% 5%;
    border-right: solid;
    border-bottom: solid;
}

#projects h2{
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
}



/*********************FOOTER *********************/
/* footer {
    text-align: center;
    margin-top: 35px;
    padding: 40px 0;
  }

footer a{
        text-decoration: none;
        font-size: 17px;
        padding: 13px;
}
footer p {
    font-size: 13px;
    padding-top: 10px;
  }
 */





